<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <h1>Social Image Generator</h1>
      <p><em>Forked with &hearts; from <a href="https://github.com/voxmedia/meme" target="_blank">Vox Media's Meme Generator.</a></em></p>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
